<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393793316393-ujpvi24k2js28g3u23a5tfckfbgs6gla.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393793316393-ujpvi24k2js28g3u23a5tfckfbgs6gla</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>393793316393-7onpr2gar6ubbgrogts8rjaus4n1smob.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDoo-etkpubGsmMMvfeGLSkM0lpCJQFZhc</string>
	<key>GCM_SENDER_ID</key>
	<string>393793316393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.firebasetest</string>
	<key>PROJECT_ID</key>
	<string>fffirebasetest-24dc2</string>
	<key>STORAGE_BUCKET</key>
	<string>fffirebasetest-24dc2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393793316393:ios:747c1d7ebfa987ad5b1e38</string>
</dict>
</plist>